/**
 * Стили для индикатора навигации
 */
.nav-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  overflow: hidden;
  display: none; // Скрыт, так как индикатор встроен в NavItem

  &__line {
    width: 60px;
    height: 100%;
    background: var(--color-primary);
    border-radius: var(--radius-full);
    transition: transform var(--transition-base);
  }
}
